/*------------------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap");

:root {
  font-size: 16px;

  --background-primary: #101341;
  --background-secondary: #7e228e;

  --contrast-primary: #6e4bcd;
  --contrast-secondary: #ffad29;
  --text-primary: #ffffff;
  --text-secondary: #fd7c83;
}

::selection,
::-moz-selection,
::-webkit-selection {
  color: var(--text-primary, pre);
  background-color: var(--text-secondary);
}

::-webkit-scrollbar {
  width: 0.25rem;
}
::-webkit-scrollbar-thumb {
  color: var(--contrast-primary);
}

::-webkit-scrollbar-track {
  background-color: var(--contrast-secondary);
}

@media screen and (min-width: 0px) {
  h1,
  h1 * {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3,
  pre {
    font-size: 1.1rem;
  }
  p,
  a,
  * {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 500px) {
  h1,
  h1 * {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3,
  pre {
    font-size: 1.6rem;
  }
  p,
  a,
  * {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 850px) {
  h1,
  h1 * {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3,
  pre {
    font-size: 2rem;
  }
  p,
  a,
  * {
    font-size: 1.6rem;
  }
}

* {
  margin: 0;
  scrollbar-face-color: var(--contrast-primary);
  scrollbar-track-color: var(--contrast-secondary);
  font-family: "Patrick Hand", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--text-primary);
}

html {
  width: 100%;
}

body {
  background-color: var(--background-primary);
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body > * {
  flex-shrink: 0;
}

.page {
  height: 100%;
}

div,
div * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a,
a:active {
  color: var(--text-secondary);
  text-decoration: none;
}

*:disabled {
  cursor: not-allowed !important;
}

.disabled {
  opacity: 0.5;
}
.disabled:hover {
  cursor: not-allowed !important;
}

button,
input,
select {
  padding: 0.1rem 0.4rem;
  border-radius: 5px;
  background-color: var(--text-primary);
  color: var(--background-primary);
  text-transform: uppercase;
  transition: ease-out 0.1s;
}

button:hover,
.navbar-action:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease-in 0.1s;
}

.player button:hover {
  transform: none;
}

.navbar-next:hover,
.navbar-prev:hover {
  cursor: pointer;
}

.home-button {
  margin: 1rem 0;
}

#page-credits p {
  display: flex;
  flex-direction: row;
}

/*------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------*/
.arcade-top {
  max-height: 20vh;
  width: 100%;
}
.arcade-title-wrapper {
  width: 100%;
  background-color: var(--contrast-primary);
  color: var(--text-primary);
}
.arcade-title-wrapper * {
  text-transform: uppercase;
}
.arcade-navbar {
  width: 100%;
  background-color: var(--contrast-primary);
  flex-direction: row;
}
.navbar-prev {
  margin-right: auto;
  margin-left: 4rem;
}
.navbar-action {
  margin: auto;
  padding: 0.05rem 0.8rem;
  background-color: var(--text-secondary);
  border-radius: 5px;
}
.navbar-action * {
  color: var(--text-primary);
}
.navbar-next {
  margin-left: auto;
  margin-right: 4rem;
}

.hint {
  animation: hint 2s ease infinite;
}
@keyframes hint {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

li p {
  display: flex;
  flex-direction: row;
}
/*------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------*/
.arcade-screen {
  width: 100%;
  height: 100%;
}
.arcade-screen > * {
  flex-grow: 1;
}
/*------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------*/
.screen-lobby {
  width: 100%;
  background-color: var(--background-primary);
}
.prompt-commands {
  position: absolute;
  z-index: 10;
  padding: 0.3rem 0.6rem;
  background-color: var(--contrast-primary);
  color: var(--text-primary);
  border-radius: 5px;
}
.prompt-commands .commands-wrapper {
  flex-direction: row;
  width: 100%;
  margin: 0.5rem;
}
.commands-wrapper .command {
  width: 20%;
  background-color: var(--text-secondary);
  margin: 0 0.2rem;
}
.commands-wrapper .command * {
  text-transform: uppercase;
  color: var(--text-primary);
  padding: 0.2rem;
}
.commands-wrapper .command:focus {
  background-color: var(--background-primary) !important;
}
.commands-wrapper .command:hover {
  cursor: pointer;
}

.players-display {
  position: relative;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}

.player {
  padding: 0.3rem 1rem;
  background-color: var(--contrast-primary);
  text-transform: uppercase;
  border-radius: 5px;
}

.gamertag {
  text-transform: none;
}

.player * {
  color: black;
}

.player > * {
  margin: 0.2rem 0;
}

.color-option {
  height: 25px;
  width: 25px;
  border: solid black 1px;
}

.color-palette {
  flex-direction: row;
  border: solid black 0.5px;
}
/*------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------*/
.screen-levels {
  width: 100%;
  background-color: var(--background-primary);
  justify-content: space-evenly;
}

.level-button {
  margin: 0.5rem 0;
}
/*------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------*/
.screen-game {
  width: 100%;
  background-color: var(--background-primary);
  flex-direction: row;
}

canvas {
  background-color: black;
  height: auto;
  max-width: 80%;
  margin: 1rem;
}

.game-scores {
  max-height: 75vh;
  width: auto;
  background-color: transparent;
  justify-content: start;
  overflow-y: auto;
  border-radius: 5px;
  padding: 0 2rem 1rem 2rem;
}

.score-value {
  line-height: 4rem;
  position: relative;
}

.score-container {
  width: 70%;
  min-width: 2rem;
  margin: 1.4rem 0;
  padding: 0.3rem 1.4rem;
  border-radius: 5px;
  box-shadow: 0 10px 5px black;
  text-shadow: -1px -1px 0.5px #000, 1px -1px 0.5px #000, -1px 1px 0.5px #000,
    1px 1px 0.5px #000;
  transition: ease-out 0.5s;
}

.dead {
  position: relative;
  margin: 1.2rem 0;
  transform: scale(0.8);
  transition: ease-in 1s;
  opacity: 0.4;
}

.dead::before {
  content: "";
  position: absolute;
  top: -15%;
  width: 40%;
  height: 10%;
  border: solid white 0.625rem;
  border-top: solid white 0.45rem;
  border-radius: 50%;
  overflow: visible;
  box-shadow: 0 0 10px white;
  animation: float 5s ease-in-out infinite;
}

.winner {
  position: relative;
  margin: 2rem 0;
  transition: ease-in 1s;
}

.winner::after {
  content: "👑";
  font-size: 2.4rem;
  position: absolute;
  top: -25%;
  width: 100%;
  height: 10%;
  overflow: visible;
}

@keyframes float {
  0% {
    transform: translateY(-15%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-15%);
  }
}
/*------------------------------------------------------------------------------------------*/
